<ol start="<%= @posts.offset_value + 1 %>" class="posts-list">
  <% @posts.each do |post| %>
    <%= render partial: 'app/posts/mini', locals: { post: post } %>
  <% end %>
</ol>

<% unless @posts.last_page? %>
  <p><%= link_to_next_page(@posts, 'Plus de ragout') %></p>
<% end %>
