<% content_for :current_section, :post %>

<% present @post do |post| %>
  <ul class="posts-list">
    <%= render partial: 'mini', locals: { post: @post } %>
    <% post.with_description do %>
      <p><%= post.formatted_description %></p>
    <% end %>
  </ul>

  <hr>

  <%= render partial: 'app/comments/form', locals: { comment: @comment } %>

  <%= render partial: 'app/comments/list', locals: { comments: @comments.popular } %>
<% end %>
