<footer>
  <p>
    <a href="/">OpenCode News</a> est une initiative de la communauté de développeurs de l'<a href="http://opencode.ca">OpenCode</a>, dans le but d'échanger entre <i>trippeux</i> de code.
  </p>
  <p>
    We <a href="https://github.com/opencodeqc/opencode.ca">♥</a> code.</p>
  </p>
</footer>
