<% if user_signed_in? %>
  <% present current_user do |user| %>
    <div class="profile">
      <%= user.profile_picture %>
      <%= link_to current_user.username, app_user_path(current_user.username) %>
      <div class="karma"><%= current_user.karma %></div>
    </div>
  <% end %>
<% end %>
