<% content_for :current_section, :users %>
<% content_for :page_title, t('.page_title') %>

<ul>
  <% present @users do |user| %>
    <li>
      <%= link_to(user.username, app_user_path(user)) %>
    </li>
  <% end %>
</ul>
