<% content_for :current_section, :users %>

<% present @user do |user| %>
  <table>
    <tr>
      <th>user:</th>
      <td>
        <%= link_to(user.username, user.github_profile_url %>
      </td>
    </tr>
    <tr>
      <th>created:</th>
      <td><%= time_ago_in_words(user.created_at) %> ago</td>
    </tr>
    <tr>
      <th>score:</th>
      <td>100</td>
    </tr>
  </table>
<% end %>
