/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "variables";
@import "bootstrap";
@import "extensions";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[hidden] { display: none } /* Pour IE 8/9 */

body {
  padding: 0 15px;
}

.navbar {
  margin-top:15px;

  .site-nav {
    @extend .main-nav-links;
  }

  .connection-action {
    @extend .inline-action;
    margin: 14px 10px 6px;
    float: right;
    a:hover {
      text-decoration: none;
    }
  }

  .profile {
    @extend .navbar-text;
    @extend .navbar-right;
    float: right;
  }

  .navbar-toggle {
    float: left;
  }

  .ocn-brand{
    @extend navbar-brand;
    color: $brand-primary;
    font-weight: bold;
  }

}


.posts-list, .comments-list {
  padding:10px 0;

  li {
    padding: 20px 20px 0;

    &:hover {
      background-color: none;
    }

    .meta {
      span:after{
        content: " | ";
        color: #EEE;
      }
      span:last-child:after {
        content: "";
      }
    }
  }
}

ul.posts-list, .comments-list {
  list-style: none;
  padding: 0;

  li:hover {
    background-color: none;
  }
}



.post {
  .link {
    a {
      float: left;
      margin-right: 10px;
    }

    .domain {
      font-size: 85%;

      &:before { content: '('; }
      &:after { content: ')'; }
    }
  }

  .meta {
    font-size: 0.8em;
    clear: both;
  }
}

.karma {
  @extend .text-muted;
  display:inline;
}

.comment-box {
  padding: 0;
  ol.comments-list{
    border-left: solid 2px lighten($brand-primary, 70%);
  }
  ul{
    padding: 0;
  }
}

.comment {
  padding: 0;
  .meta {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .reply {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-xs;
    margin: 0 10px;
  }
}

.comment-form{
  background-color: #EEE;
  border-radius: 3px;
  padding:10px;
}

@media screen and (max-width: $screen-sm-min) {

  .navbar {
    padding: 4px 10px;
    margin: 0 -15px 20px;
  }
}
