/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 160%;
  line-height: 1.4;
  font-weight: 300;
  padding: 30px;
}

ol.main {
  li {
    padding: 10px 0;

    .meta div {
      font-size: 80%;
      display: inline;
      margin: 0 8px 0 0;

      &.submitter {
        span {
          padding-left: 8px; }
      }
    }
  }

  .link {
    .actions {
      float: left;
      .up {
        padding-top: 7px;
      }
    }

    a {
      float: left;
      margin-right: 10px;
    }

    .domain {
      font-size: 80%;
      &:before { content: '('; }
      &:after { content: ')'; }
    }
  }
}
