/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "variables";
@import "bootstrap";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[hidden] { display: none } /* Pour IE 8/9 */

body {
  padding: 0 15px;
}

.navbar{
  margin-top:15px;
}

.posts-list, .comments-list {
  li {
    margin-bottom: 20px;
  }
}

.profile {
  float: right;
}

.navbar-toggle {
  float: left;
}

.post {
  .link {
    a {
      float: left;
      margin-right: 10px;
    }

    .domain {
      font-size: 85%;

      &:before { content: '('; }
      &:after { content: ')'; }
    }
  }

  .meta {
    font-size: 90%;
    clear: both;
  }
}

.karma{
  @extend .label;
  @extend .label-info;
}

.comment {
  .meta {
    margin-bottom: 10px;
  }
}

button{
  @extend .btn;
  @extend .btn-default;
}

.form-group textarea{
  @extend input;
}

@media screen and (max-width: $screen-sm-min){

  .navbar {
    padding: 4px 10px;
    margin: 0 -15px 20px;
  }
}